@font-face {
    font-family: 'qiantubifengshouxieti';
    src: url('../../static/css/qiantubifengshouxieti.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

